*.a
*.auto.eqc
*.kdev4
*.la
*.lai
*.lo
*.log
*.mode1v3
*.o
*.orig
*.pbxuser
*.ply.*.bin
*.rej
*.slo
*.so
*.vcproj.*.user
*~
.cproject
.project
CMakeLists.txt.user*
GPATH
GRTAGS
GTAGS
Makefile
GNUmakefile
Result_*.rgb*
TAGS
XCode
___*
auxiliary
build
build*
cdash
debug
docs
externals/vmmlib/
man
release
tests/client/configVisitor_objc.mm
tests/image/images/out_*
tt.*
tt?.*
CMake/common
